################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SDR/packages/Oracle.ManagedDataAccess.12.1.24160719
